build/
.vscode/
.history/
/Notes/*.pdf
Notes/*.dvi
Notes/*.fls
Notes/*.aux
Notes/*.log
Notes/*.synctex.gz
Notes/*.toc
Notes/*.out
Notes/*.fdb_latexmk
Documentation/html/*
Documentation/latex/*
Documentation/xml/*
